span:hover .be {
  background-color: red;
  left: 5px;
  top: 5px;
}
.be {
  left: -15px;
  top: 5px;
  transition: all ease-in 0.5s;
}
span:hover .bee {
  background-color: red;
  right: 5px;
  top: 5px;
}
.bee {
  right: -16px;
  top: 5px;
  transition: all ease-in 0.5s;
}
